.header img{
    height: 60px;
    cursor: pointer;
    display: flex;
}

.logo-area{
    display: flex;
    align-items: center;
    justify-content: center;  
}


.header input{
   
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    font-weight: 700;
    font-size: medium;
    border-right: none;
}

/* .header  button{
    height: 46px;
    margin-bottom: 21px;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: whitesmoke;
} */

.header{
    text-align: center;
    /* display: flex; */
}

.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: gray;
    border-radius: 7px;
}
.search-btn{
    width: 50px;
    height: 46px;
    margin-bottom: 20px;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: whitesmoke;
    
}
.search-area{
    display: flex;
    text-align: center;
    justify-content: center;
}